
@{
    ViewData["Title"] = "InputQuiz";
}

<h1>InputQuiz</h1>

<form action="Home/OutputQuiz" method="post">
    <label>숫자를 넣어주세요 : </label>
    <input type="number" id="number" name="number" required/>
    <input type="submit" value="계산" />
</form>

