@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TagHelpers</h1>
</div>
<hr/>
<div>

    @* 링크 만들기 
       아래는 전부 같은 표현 *@
    <a href="/Home/Contact">Contact Page 1</a>

    @Html.ActionLink("Contact Page 2", "Contact", "Home") <br />

    <a href="@Url.Action("Contact", "Home")">Contact Page 3</a> <br />

    <a asp-controller="Home" asp-action="Contact">Contact Page 4</a>

</div>