@model IEnumerable<Student>

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

@{
    foreach (var item in Model)
    {
        <p>@item.ID</p>
        <p>@item.Name</p>
        <p>@item.HP</p>
    }
}
